.container {
	display: flex;
}

/* ==========================FORM======================== */
.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 300px;
	padding: 20px;
}
.form-label {
	display: flex;
	flex-direction: column;
}
.input-wrap {
	padding-top: 10px;
}
.form-input {
	padding: 5px;
	border: 1px solid rgb(30, 140, 214);
	border-radius: 4px;
	outline: none;
	margin-right: 5px;
}
.form-btn {
	width: 120px;
	padding: 10px;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
	background-color: rgb(30, 140, 214);
}

/* ==========================RESULT CONTAINER==================== */
.result-container {
	width: 300px;
	height: 224px;
	border: 1px solid black;
	padding: 10px;
}
.result {
	font-size: 25px;
	text-align: center;
}
.result-disp {
	font-size: 110px;
}
.bmi-explanation {
	padding: 20px;
}
.important-note {
	outline: 3px solid red;
	padding: 10px;
	background-color: bisque;
}
/* ========================GAUGE====================================== */

.gauge-wrapper {
	position: relative;
	width: 400px;
	height: 400px;
	padding: 20px;
	outline: 1px solid black;
}
.gauge {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 300px;
	border-radius: 50%;
	outline: 1px solid red;
}
.gauge-sm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 150px;
	height: 150px;
	outline: 1px solid green;
}
