.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}
.form-input {
	padding: 5px;
	border: 1px solid rgb(30, 140, 214);
	border-radius: 4px;
	outline: none;
	margin-right: 5px;
	resize: none;
}
.form-btn {
	width: 120px;
	padding: 10px;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
	background-color: rgb(30, 140, 214);
}
